---
// Header.astro
---

<header class='bg-white lg:sticky top-0 z-30 shadow-xl h-[86px]'>
  <nav class='flex justify-between items-center w-[92%] mx-auto max-w-screen-xl m-auto'>
    <div class='bg-white relative z-30 lg:block hidden'></div>
    <div class='bg-white relative z-30'>
      <a href='/'>
        <img
          class='imagen cursor-pointer select-none py-2'
          src='/images/Logo05.webp'
          alt='MB Servicios Generales'
          style='width:17rem'
        />
      </a>
    </div>
    <div
      id='nav-links'
      class='bg-white duration-500 lg:static absolute lg:min-h-fit min-h-[50vh] left-0 top-[-100%] lg:w-auto w-full flex items-center px-10 z-10'>
      <ul class='flex lg:flex-row flex-col lg:items-center lg:gap-[4vw] gap-8 font-bold text-xl'>
        <li>
          <a class='hover:text-[#BA0203] text-[#13253E]' href='/'>Inicio</a>
        </li>
        <li>
          <a class='hover:text-[#BA0203] text-[#13253E]' href='/Nosotros'>Nosotros</a>
        </li>
        <li>
          <a class='hover:text-[#BA0203] text-[#13253E]' href='/Servicios'>Servicios</a>
        </li>
        <li>
          <a class='hover:text-[#BA0203] text-[#13253E]' href='/Contactanos'>Contáctanos</a>
        </li>
      </ul>
    </div>
    <button id='btn-menu'>
      <ion-icon name='menu-outline' class='text-3xl cursor-pointer lg:hidden'></ion-icon>
    </button>
  </nav>
</header>
<style>
  header {
    font-optical-sizing: auto;
    font-weight: <weight>;
  }
</style>
<script>
  // Captura del menu, siempre usar querySelectorAll con posicion[0] para caputar elementos por su clase
  const navLinks = document.getElementById('nav-links')
  // Funcion para mostrar y ocultar el menu
  function onToggleMenu(e: any) {
    e.name = e.name === 'menu-outline' ? 'close-outline' : 'menu-outline'
    navLinks?.classList.toggle('top-[8%]')
  }
  // Captura del boton de menu
  const btnMenu = document.getElementById('btn-menu')
  // Evento click para el boton de menu
  btnMenu?.addEventListener('click', () => {
    onToggleMenu(btnMenu.children[0])
  })
</script>
