<div
  class='stats bg-slate-100 flex flex-wrap gap-4 pl-0 overflow-hidden rounded-none max-w-screen-xl m-auto w-[80%]'>
  <!-- Ventas Anuales -->
  <div class='stat flex-1 min-w-[250px] border-black border-1' data-aos='fade-up'>
    <div class='stat-figure text-secondary'>
      <!-- Icono SVG -->
      <svg
        viewBox='0 0 17 17'
        version='1.1'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
        fill='#2c303a'
        stroke='#2c303a'
        width='32'
        height='32'
        ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
          id='SVGRepo_tracerCarrier'
          stroke-linecap='round'
          stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
          <path
            d='M17 16v1h-17v-1h17zM5.203 7.976l4.204 3.026 5.593-6.251v2.284h1v-4.035h-4.036v1h2.366l-5.070 5.665-4.129-2.974-4.372 3.956 0.671 0.741 3.773-3.412z'
            fill='#000000'></path>
        </g></svg
      >
    </div>
    <div
      class='stat-title text-gray-400 font-bold transition-opacity duration-500 ease-in-out hover:opacity-80'>
      Ventas Anuales
    </div>
    <div class='stat-value text-gray-700 text-5xl font-bold' data-target='729'>0</div>
    <div
      class='stat-desc text-sm text-gray-500 transition-opacity duration-500 ease-in-out hover:opacity-80 italic'>
      Enero - Ago
    </div>
  </div>
  <!-- Clientes Atendidos -->
  <div class='stat flex-1 min-w-[250px]' data-aos='fade-up' data-aos-delay='100'>
    <div class='stat-figure text-secondary'>
      <!-- Icono SVG -->
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='32'
        height='32'
        fill='#2c303a'
        class='bi bi-person-raised-hand'
        viewBox='0 0 16 16'>
        <path
          d='M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207'
        ></path>
        <path d='M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'></path>
      </svg>
    </div>
    <div
      class='stat-title text-gray-400 font-bold transition-opacity duration-500 ease-in-out hover:opacity-80'>
      Clientes Atendidos
    </div>
    <div class='stat-value text-gray-700 text-5xl font-bold' data-target='1500'>0</div>
    <div
      class='stat-desc text-gray-500 transition-opacity duration-500 ease-in-out hover:opacity-80'>
      ↗︎ (22%)
    </div>
  </div>

  <!-- Trabajadores -->
  <div class='stat flex-1 min-w-[250px]' data-aos='fade-up' data-aos-delay='300'>
    <div class='stat-figure text-secondary'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        width='32'
        height='32'
        color='#2c303a'
        fill='none'>
        <path
          d='M20 22V19C20 17.1144 20 16.1716 19.4142 15.5858C18.8284 15 17.8856 15 16 15H14L12 17L10 15H8C6.11438 15 5.17157 15 4.58579 15.5858C4 16.1716 4 17.1144 4 19V22'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M16 15V22'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M8 15V22'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M15.5 9V7C15.5 5.067 13.933 3.5 12 3.5C10.067 3.5 8.5 5.067 8.5 7V9C8.5 10.933 10.067 12.5 12 12.5C13.933 12.5 15.5 10.933 15.5 9Z'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M7.5 7.5H16.5'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
        <path
          d='M12 2V3.5'
          stroke='currentColor'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
    </div>
    <div
      class='stat-title text-gray-400 font-bold transition-opacity duration-500 ease-in-out hover:opacity-80'>
      Trabajadores
    </div>
    <div class='stat-value text-gray-700 text-5xl font-bold' data-target='350'>0</div>
    <div
      class='stat-desc text-gray-500 transition-opacity duration-500 ease-in-out hover:opacity-80'>
      ↗︎ (10%)
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const counters = document.querySelectorAll('.stat-value')

    counters.forEach((counter) => {
      const updateCount = () => {
        const target = +counter.getAttribute('data-target')
        const count = +counter.innerText

        // Reduce el incremento para un conteo más lento
        const increment = target / 200

        if (count < target) {
          counter.innerText = Math.ceil(count + increment)
          setTimeout(updateCount, 10) // Aumenta el tiempo para hacer el conteo más lento
        } else {
          counter.innerText = target
        }
      }

      // Verifica si el elemento está en la vista antes de iniciar el conteo
      const isElementInViewport = (el: any) => {
        const rect = el.getBoundingClientRect()
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        )
      }

      const startCount = () => {
        if (isElementInViewport(counter)) {
          updateCount()
          window.removeEventListener('scroll', startCount)
        }
      }

      window.addEventListener('scroll', startCount)
      startCount() // Inicia el conteo si el elemento ya está en la vista
    })
  })
</script>
